{% extends "sablon.html" %} {% block icerik %}
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" style="background-image: url('static/img/2.jpg')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5" data-aos="fade-right">
                        <h1 class="mb-3 text-white">Doğanın Harikası'nın tadını çıkaralım</h1>
                        <p>Sizlere gezmelerin en doğalı ve keyifli olan otostopla ilgili video skeç ekledik, bu yolculuğa çıkmadan iyi eğlenceler. 🙂</p>
                        <p class="d-flex align-items-center">
                            <a href="static/img/Güldür Güldür Show 4.Bölü-VideoIndirelim.com.mp4" data-fancybox class="play-btn-39282 mr-3"><span
                                    class="icon-play"></span></a>
                            <span class="small"> Videoyu izle</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    </div>

    {% endblock %}